*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
div{
    max-width: 100%;
    width: 200px;
    margin: 200px auto;
    h1{
        font-size: 70px;
        text-align: center;
        display: flex;
        flex-direction: column;
        
    }

}